Package: com.pixelomer.tweakexcluder
Name: TweakConfigurator
Depends: mobilesubstrate, preferenceloader, firmware (>=11.0)
Version: 0.3-1
Architecture: iphoneos-arm
Description: Configure tweaks yourself!
  Features:
  - You can choose to not load specific tweaks in specific apps.
  - You can completely disable tweaks in specified apps.
  Requires iOS 6 or higher. Tested with Electra and unc0ver on iOS 11.3.1 and unc0ver on iOS 12.1.2.
  Works with both Substrate and Substitute.
Maintainer: PixelOmer
Author: PixelOmer
Section: Tweaks
